:root {
    --color-primary: #ce9c13;
    --color-dark: #142131;
    --color-links:#101157;
    --font-body: 16px;
    --font-family: 'Merriweather', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: var(--font-body);
    font-family: var(--font-family);
    color: var(--color-primary);
    background-color: var(--color-dark);
  }
  
  h1{
    text-align: center;    
  }
  
  h2 {
    text-align: center;
    color: var(--color-links);
    background-color: #d8d27b;
  }
  
  a {
    color: var(--color-links);
    background-color: #d8d27b;
    transition: all 0.3s ease-out;
  }
  
  a:hover {
    color: var(--color-primary);
    background-color: rgb(109, 44, 170);
  }

  .grid {
    display: grid;
    grid-template-columns: 100%;
  }
  
  img, iframe,table{
    max-width: 100%;
    
  }

  img{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 50%;
  
  }
  header, section {
    padding: 20px;
  }

  hr{
    border: 5px solid var(--color-primary);
    border-style: double;
  }
  
  
  #menu {
    
    color: rgb(24, 7, 173);
  }
  
  
  footer {
    text-align: center;
    background-color: rgb(81, 241, 116);
    padding: 10px;
  }